<div class="main-loader" *ngIf="loaderActive">
  <app-main-loader></app-main-loader>
</div>

<div *ngIf="!loaderActive">
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #00274e;" *ngIf="!isUser">
  <a class="navbar-brand" href="#">TodoApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['todo']">Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['user']">Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #00521b;" *ngIf="isUser">
  <a class="navbar-brand" href="#">TodoApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav " style="display: flex; justify-content: right; flex: auto;">
        <a class="nav-link" [routerLink]="['home']">Home</a>
        <a class="nav-link" [routerLink]="['todo']">Todos</a>
        <a class="nav-link" (click)="onUserLogout()">Logout</a>
        <a class="nav-link text text-light disabled" style="border: 1px solid #c5ffba77;" >Welcome, &nbsp; <small style="color: #c6ffba;">{{activeUser | titlecase}}</small></a>
    </div>
  </div>
</nav>

<body [style]="isUser?'background-color: #c6ffba':'background-color: #8bc5ff'">
  <div class="jumbo title text-light" [style]="isUser? 'background-color: #00521b' : 'background-color: #00274e'">
    <h2 align="center" class="text" id="head-x" [style]="isUser?'color: #c6ffba;': 'color: #8bc5ff'">
      Welcome to Online Todo Application
    </h2>
  </div>
  <div class="container" [id]="isUser?'router-outlet-user': 'router-outlet'">
    <router-outlet></router-outlet>
  </div>
</body>


<footer class="w-100 py-4 flex-shrink-0 navbar-dark mt-4" [style]="isUser? 'background-color: #00521b; color: #c6ffba' : 'background-color: #00274e; color: #8bc5ff'">
  <div class="container text-center">
    <small><span style="color: azure;">Copyright &nbsp; &copy;</span> &nbsp; Welcome to our online <strong>Todo</strong> Application.</small>
    <small style="color: azure;"> &nbsp; @ All rights reserve.</small>
  </div>
</footer>
</div>